* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --cardColor: #3e4256;
  --whiteSpace: #dee0e0;
  --textColor: #dadcea;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--whiteSpace);
  color: var(--textColor);
}

.wraper .bilboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 1000px) {
  .wraper .bilboard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
}

.wraper .bilboard .bilboard__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 70%;
  height: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

@media (max-width: 1000px) {
  .wraper .bilboard .bilboard__card {
    width: 100%;
    height: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.wraper .bilboard .bilboard__card .bilboard__card--content {
  background: var(--cardColor);
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1000px) {
  .wraper .bilboard .bilboard__card .bilboard__card--content {
    width: 60%;
    height: auto;
    font-size: 1.3em;
    background: rgba(66, 244, 122, 0.5);
  }
}

.wraper .bilboard .bilboard__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  z-index: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1000px) {
  .wraper .bilboard .bilboard__pic {
    height: auto;
  }
}

.wraper .bilboard .bilboard__pic img {
  width: 1200;
  height: 100%;
  padding-right: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1000px) {
  .wraper .bilboard .bilboard__pic img {
    width: 100vw;
    height: 300px;
    padding-right: 0px;
  }
}

.wraper .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper .about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

@media (max-width: 1000px) {
  .wraper .about .about__content {
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wraper .about .about__content .about__content--bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
  height: 90%;
  background: var(--cardColor);
  font-size: 2.5em;
  boxShadow: 0px -1px 58px -15px #8a888a;
  text-align: right;
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1000px) {
  .wraper .about .about__content .about__content--bio {
    width: 90%;
    height: auto;
    font-size: 1.3em;
    margin-top: 10px;
  }
}

.wraper .about .about__content .inview {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.wraper .about .about__content .inview h2 {
  padding: 30px;
}

.wraper .about .about__content .inview h3 {
  padding: 30px;
}

.wraper .about .about__content .inview p {
  font-size: .7em;
  line-height: 45px;
  width: 60%;
}

.wraper .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper .work .work__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--cardColor);
  width: 100%;
  font-size: 2.5em;
  boxShadow: 0px -1px 58px -15px #8a888a;
  text-align: center;
}

@media (max-width: 1000px) {
  .wraper .work .work__card {
    font-size: 1.3em;
  }
}

.wraper .work .work__site {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .wraper .work .work__site {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wraper .work .work__site .site {
  -webkit-transition: .5s;
  transition: .5s;
}

.wraper .work img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .wraper .work img {
    -webkit-box-flex: grow;
        -ms-flex: grow;
            flex: grow;
  }
}

.wraper .work .open {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-box-shadow: 2px -2px 32px 3px #575757;
          box-shadow: 2px -2px 32px 3px #575757;
}

.wraper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .wraper .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wraper .contact .contact__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--cardColor);
  width: 20%;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: centery6;
      -ms-flex-align: centery6;
          align-items: centery6;
}

@media (max-width: 1000px) {
  .wraper .contact .contact__card {
    height: auto;
  }
}

.wraper .contact .contact__card h3 {
  padding: 20px;
}

.wraper .contact .contact__email {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--cardColor);
  width: 40%;
  height: 40%;
}

.wraper .contact .contact__email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper .contact .contact__email form input {
  margin-left: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wraper .contact .contact__email form label {
  padding-left: 20px;
  padding-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wraper .contact .contact__email form .submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
  border: none;
}

.wraper .contact .contact__email form textarea {
  width: 80%;
  height: 80%;
  border: none;
  outline: none;
  resize: none;
}
/*# sourceMappingURL=style.css.map */