*
  margin: 0
  padding: 0
  box-sizing: border-box
  --cardColor: #6e6c7a
  --altCardColor: #39216d
  --textColor: white
  --altTextColor: #f7d82d
  --bordeR: 6px
  --bShadow: 0px 0px 20px 2px rgba(51,51,51,1);
  --mTop: 200px
.content-wraper
  display: flex
  flex-direction: column
  background-image: url("imgs/back2.png")
  @media (min-width: 1000px)
    background-image: url("imgs/back4.jpg")
  height: 1000px
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  .headder
    position: fixed
    display: flex
    justify-content: space-between
    height: 150px
    width: 100%
    color: black
    background: linear-gradient(0deg, rgba(251,251,251,0) 0%, rgba(253,253,253,0.6029776674937966) 15%, rgba(255,255,255,0.9776674937965261) 77%)
    mix-blend-mode: screen
    text-align: right
    font-family: 'IBM Plex Mono',monospace
    z-index: 2

    .headder__hamburger
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 50px
      width: 50px
      margin-left: 7px
      margin-top: 7px
      transition: .5s
      z-index: 10
      @media (min-width: 1000px)
        display: none

      .headder__hamburger__1
        width: 100%
        height: 10px
        background-color: black
        border-radius: 5px
        transition: .5s

      .headder__hamburger__2
        width: 100%
        height: 10px
        background-color: black
        border-radius: 5px

      .headder__hamburger__3
        width: 100%
        height: 10px
        background-color: black
        border-radius: 5px
        transition: .5s

    .headder__hamburger__clicked
      transform: rotate(-90deg)
      transition: .5s

      .headder__hamburger__1__clicked
        width: 40px
        transform: rotate(45deg)
        margin-left: 20px
        margin-top: 10px
        transition: .5s

      .headder__hamburger__3__clicked
        width: 40px
        transform: rotate(-45deg)
        margin-left: 20px
        margin-bottom: 10px
        transition: .5s

    .headder__text
      display: flex
      flex-direction: column
      margin-right: 8px

      .headder__text__name
        font-size: 3.5em

      .headder__text__title
        font-size: 2.6em
        @media (max-width: 1000px)
          display: none
        

    .headder__nav
      display: none
      width: 60%
      justify-content: space-around
      font-size: 2.5em
      color: black
      font-family: 'IBM Plex Mono',monospace
      align-items: flex-end
      text-transform: capitalize
      @media (min-width: 1000px)
        display: flex
      a
        text-decoration: none
        color: black
        margin-bottom: 15px
      // .nav__home
      // .nav__about-me
      // .nav__my-work

  .nav
    display: flex
    position: fixed
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    background: var(--cardColor)
    margin-top: -2000px
    transition: .7s
    font-size: 3em
    text-transform: uppercase
    font-family: Megrim
    color: var(--textColor)
    text-transform: capitalize
    a
      text-decoration: none
      color: var(--textColor)

    // .nav__home
    // .nav__about-me
    // .nav__my-work

    // .nav__contact
  .nav__clicked
    margin-top: 0px
    transition: 1s
    z-index: 1
    // ----------------------homepage--------------------
  .home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: hsla(0, 0%, 29%, 0.34)
    width: 100%
    height: 100vh
    position: fixed
    font-family: 'IBM Plex Mono', monospace
    color: var(--textColor)
    text-align: center
    @media (min-width: 1000px)
      align-items: center
      justify-content: center
      font-size: 1em
      letter-spacing: .15em
      line-height: 30px
    h1
      display: flex
      align-items: center
      overflow: hidden
      height: 50px
      font-size: 2em
      white-space: nowrap
      //border-right: solid 1px var(--altTextColor)
      width: 0%
      animation: type 3s steps(18, end) 1 forwards, blink-caretsmall 1.1s 3 forwards
      animation-delay: .5s
      @media (min-width: 1000px)
        border-width: 7px
        height: 200px
        font-size: 10em
        animation: type 3s steps(18, end) 1 forwards, blink-caret 1.1s 3 forwards
    h2
      display: flex
      align-items: center
      overflow: hidden
      height: 50px
      font-size: 1.5em
      white-space: nowrap
      //border-right: solid 1px var(--altTextColor)
      width: 0%
      animation: typesmall 3s steps(18, end) 1 forwards, blink-caretsmall 1.1s 3 forwards
      animation-delay: 4.5s
      @media (min-width: 1000px)
        border-width: 7px
        height: 200px
        font-size: 7.5em
        animation: type 3s steps(18, end) 1 forwards, blink-caret 1.1s 3 forwards
        animation-delay: 4.5s

  .about
    display: flex
    flex-direction: column
    align-self: center
    align-items: center
    width: 90%
    height: auto
    background-color: var(--cardColor)
    border-radius: var(--bordeR)
    box-shadow: var(--bShadow)
    color: var(--textColor)
    margin-top: var(--mTop)
    overflow: hidden
    @media (min-width: 1000px)
      justify-content: center

    .about__head
      width: 98%
      height: 200px
      color: var(--textColor)
      font-size: 3em
      justify-content: flex-end
      font-family: 'IBM Plex Mono', monospace
      animation: animate .27s 2
      @media (min-width: 1000px)
        font-size: 7em
        text-align: center

    .about__content
      color: var(--textColor)
      width: 90%
      animation: fadein 1s 1
      @media (min-width: 1000px)
        font-size: 1em
        letter-spacing: .15em
        line-height: 30px
      img
        float: left
        margin-right: 1.5em
        margin-bottom: .5em
        shape-outside:  polygon(50% 0%, 67% 4%, 74% 16%, 75% 38%, 67% 52%, 90% 64%, 97% 81%, 76% 96%, 53% 99%, 7% 92%, 0% 86%, 1% 64%, 20% 51%, 14% 32%, 16% 13%, 21% 3%);

  .mywork
    display: flex
    flex-direction: column
    align-self: center
    align-items: center
    width: 90%
    height: 90vw
    margin-top: var(--mTop)
    background: var(--cardColor)
    border-radius: var(--bordeR)
    box-shadow: var(--bShadow)
    @media (min-width: 1000px)
      height: 90vh
      justify-content: center
    .mywork__site
      width: 97%
      height: 97%
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      background-image: url("imgs/codenotes.png")
      button
        font-size: .5em
        width: 50px
        height: 25px
        border: none
        border-bottom: 1px solid var(--altTextColor)
        background: var(--cardColor)
        @media (min-width: 1000px)
          font-size: 1em
          width: 100px
          height: 50px
          border-bottom: 2px solid var(--altTextColor)
          margin-top: 40px
        a
          text-decoration: none
          color: var(--textColor)
      ul
        display: flex
        flex-wrap: wrap
        font-size: 1em
        justify-content: space-around
        @media (min-width: 1000px)
          flex-direction: column
          font-size: 2em
        li
          list-style: none
          color: var(--textColor)
          font-family: 'IBM Plex Mono', monospace
          text-align: right
          text-transform: capitalize
            
        .slected
          text-decoration: line-through
          animation: glitch .51s 1
    .camp_site
      background-image: url("imgs/camp.png")
      // animation: glitch .31s 1
    .code_notes
      background-image: url("imgs/codenotes.png")
      // animation: fadein .1s 1
    .clean_water
      background-image: url('imgs/water.png')
      // animation: glitch .21s 1
    .login_page
      background-image: url("imgs/moutan.png")
      // animation: animate .21s 1

  .contact
    display: flex
    flex-direction: column
    width: 90%
    height: auto
    justify-content: space-around
    margin-top: var(--mTop)
    align-self: center
    background: var(--cardColor)
    font-family: 'IBM Plex Mono', monospace
    color: var(--textColor)
    border-radius: var(--bordeR)
    box-shadow: var(--bShadow)
    @media (min-width: 1000px)
      flex-direction: row
      height: 500px
    .contact__card
      display: flex
      flex-direction: row-reverse
      justify-content: space-around
      width: 100%
      height: 100%
      padding-top: 20px
      transform: translatex(-2000px)
      animation: zoomIn .37s forwards
      animation-delay: .4s
      @media (min-width: 1000px)
        justify-content: flex-start
        flex-direction: column
        width: 40%
      img
        margin: 5px
      .contact__card--misc
        display: flex
        flex-direction: column
        p
          color: var(--altTextColor)
    .contact__email
      display: flex
      width: 100%
      height: 100%
      @media (min-width: 1000px)
        width: 40%
      form
        display: flex
        flex-direction: column
        width: 100%
        transform: translateX(2000px)
        animation: zoomIn .37s forwards
        animation-delay: .2s
        input
          align-self: flex-start
          border: none
          padding: 6px
          color: var(--altTextColor)
          background: var(--cardColor)
          border-bottom: solid 1px var(--altCardColor)
        label
          padding-top: 20px
          align-self: flex-start
          
        .submit
          align-self: flex-end
          padding: 10px
          border-radius: 3px
          margin-top: -43px
          margin-right: 7px
          border: none
          background: var(--cardColor)
          &:hover
            box-shadow: 0px 0px 13px 1px rgba(247,216,45,1)
            
        textarea
          width: 100%
          height: auto
          border: none
          outline: none
          resize: none
          color: var(--altTextColor)
          background: var(--altCardColor)
    //------------------------------------keyframes-----------  
@keyframes type
  0%
   width: 0%
  100%
    width: 91%
@keyframes blink-caret 
  0%
    border-right: solid 7px var(--altTextColor)  
    
  50%  
    border-color: transparent 
  100%
    border-color: var(--altTextColor)

@keyframes typesmall
  0%
   width: 0%
  100%
    width: 81%
@keyframes blink-caretsmall
  0%
    border-right: solid 1px var(--altTextColor)  
    
  50%  
    border-color: transparent 
  100%
    border-color: var(--altTextColor)

@keyframes showName
  0%
    opacity: 0
  25%
    opacity: .25
  50%
    opacity: .5
  75%
    opacity: .75
  100%
   opacity: 1

@keyframes zoomIn
  0%

  100%
    transform: translateX(0)

@keyframes glitch
  25%
    filter: blur(3px)
  50%
    filter: hue-rotate(200deg)
  75%
    filter: invert(100%)
  100%
    filter: grayscale(100%)

@keyframes fadein
  0%
    color: rgb(255,255,255)
    color: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%)

  25%
        color: cyan
        font-family: 'Libre Barcode 39'
        letter-spacing: .15em

  50%
        color: Magenta
        font-family: 'monospace'
        letter-spacing: .15em

  75%
        font-family: 'VT323'
        letter-spacing: .15em

  100%
        background-position: 0 0
        filter: hue-rotate(360deg)

@keyframes animate
      0%
            filter: hue-rotate(0deg)

      10%
            padding-left: 10px
            color: cyan
            font-family: 'Libre Barcode 39'
            letter-spacing: .25em
            line-height: -50px

      20%
            padding-left: 70px
            padding-top: 22px
            color: cyan
            font-family: 'Libre Barcode 39'
            letter-spacing: .1em

      30%
            padding-right: 30px
            padding-top: 26px
            color: yellow
            font-family: 'Libre Barcode 39'
            letter-spacing: .1em

      40%
            padding-left: 40px
            padding-top: 28px
            color: yellow
            font-family: 'Libre Barcode 39'
            letter-spacing: .01em

      50%
            padding-right: 30px
            padding-top: 35px
            color: Magenta
            font-family: 'Libre Barcode 39'
            letter-spacing: .01em

      60%
            padding-left: 10px
            padding-top: 21px
            color: Magenta
            font-family: 'Libre Barcode 39'
            letter-spacing: .01em

      70%
            padding-top: 17px
            padding-right: 30px
            font-family: 'Libre Barcode 39'
            letter-spacing: .01em

      80%
            padding-top: 10px

      100%
            filter: hue-rotate(360deg)
